.experience {
    display: flex;  
    flex-direction: column; 
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
}

.experiences-body {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
}

.wave {
    width: 100%;
    position: relative;
    top: 2px;
}

.wave_bottom {
    transform: scaleY(-1);
    top: -2px;
}

.experience-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
}

.experience-date {
    font-size: 25px;
    font-weight: bold;
    color: var(--secundary-color);
}

.experience-company {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;

}

.experience-position {
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

.experience-description {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}

